@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("C:\Users\Digitask\Desktop\Test Project\my-app\src\assets\fonts\Poppins-Bold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins-medium";
  src: url("C:\Users\Digitask\Desktop\Test Project\my-app\src\assets\fonts\Poppins-Medium.ttf");
}

body {
  font-family: "Poppins";
  background-color: white;
}

.section-title {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 34px;
  text-align: left;
}

.page-title {
  font-size: 40px;
  text-align: center;
  padding-bottom: 15px;
}

.see-more-button {
  color: rgb(235, 114, 97);
  padding: 10px 30px;
}

.see-more-button:hover {
  cursor: pointer;
}
