@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap");
@font-face {
  font-family: "Poppins";
  src: url("C:\Users\Digitask\Desktop\Test Project\my-app\src\assets\fonts\Poppins-Bold.ttf");
  font-weight: 400;
}

body {
  font-family: "Poppins";
  background-color: rgb(255, 240, 229);
}

.section-title {
  font-size: 35px;
  text-align: center;
}

.page-title {
  font-size: 40px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 15px;
}

.see-more-button {
  text-align: center;
  margin: 10px 0 30px 0;
}
